* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(circle at top left, #1f2022, #2b2c30);
  color: rgb(253, 252, 252);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}
